<style>
.action {
  position: absolute;
    width: 210px;
    height: 60px;
    left: 74px;
    top: 393px;
}
</style>
<% if(typeof alertActionHref != 'undefined') {%>
  <a class='action' href="<%- alertActionHref %>"></a>
<%}%>
