<% layout('layout') -%>

<% include topbar %>

<style>
  .content {
    padding: 36px 28px;
  }
  .image {
    position: relative;
    width: 251px;
    height: 322px;
    background: url('/img/bgList.png');
    background-repeat: no-repeat;
  }
</style>
<div class='content'>
  <a href='/bgm/disconnect'><div class='image'></div></a>
</div>
