<% layout('layout') -%>

<% include topbar %>

<style>
  .content {
    padding: 159px 58px;
  }
  .image {
    position: relative;
    width: 186px;
    height: 58px;
    background: url('/img/bg1.png');
    background-repeat: no-repeat;
  }
</style>
<div class='content'>
  <a href='/bgm/id'><div class='image'></div></a>
</div>
