<% layout('layout') -%>

<% include topbar %>

<style>
  .content {
    padding: 110px 24px;
  }
  .image {
    position: relative;
    width: 251px;
    height: 110px;
    background: url('/img/bgdisconnect.png');
    background-repeat: no-repeat;
  }
</style>
<div class='content'>
  <a href='/bgm'><div class='image'></div></a>
</div>
