<% layout('layout') -%>

<% include topbar %>

<style>
  .content {
    padding: 30px 58px;
  }
  .image {
    position: relative;
    width: 201px;
    height: 338px;
    background: url('/img/bgid.png');
    background-repeat: no-repeat;
  }
</style>
<div class='content'>
  <div class='image'></div>
</div>

<% include bottombar %>
