<link rel="stylesheet" href="/css/bottombar.css">
<div class='bottombar-roundedTop'></div>
<div class='bottombar'>
  <a href='<%- bottomHref %>'><div class='bottombar-title <%- bottombarClass %>'><%- bottombarTitle %></div></a>
</div>
