<% layout('layout') -%>

<% include topbar %>

<link rel="stylesheet" href="/css/cgm.css">
<link rel="stylesheet" href="/css/bottombar.css">
<link rel="stylesheet" href="/css/bottombar.css">

<div class='content'>
  <div class='cgmSure-text'>Are you sure you want to stop this sensor session?</div>
</div>

<div class='bottombar'>
  <div class='cgmSure-choices'>
    <a class='cgmSure-yes' href='/cgm/start'><div>yes</div></a>
    <a class='cgmSure-no' href='/cgm/stop'><div>no</div></a>
  </div>
</div>
