<style>
.currentCGM {
  color: white;
  float: right;
  padding-right: 30px;
}
.currentCGM-unit {
  font-size: 12px;
  font-weight: 400;
}
.currentCGM-value {
  font-size: 45px;
}
</style>
<div class='currentCGM'>
  <span class='currentCGM-unit'>mg/dl</span>
  <span class='currentCGM-value'>120</span>
</div>
