<% layout('layout') -%>

<% include topbar %>

<style>
  .content {
    padding: 25px 48px;
  }
  .image {
    position: relative;
    width: 225px;
    height: 379px;
    background: url('/img/dateTime.png');
    background-repeat: no-repeat;
  }
</style>
<div class='content'>
  <div class='image'>
  </div>
</div>
