<style>
.glucagonIcon {
  background-image: url('/img/glucagonIcon.svg');
  background-repeat: no-repeat;
  width: 33px;
  height: 53px;
  position: relative;
  background-position-x: 8px;
}
.glucagon-level {
  position: absolute;
  width: 13px;
  height: 34px;
  background: white;
  left: 10px;
  top: 17px;
  border-radius: 0px;
}
.glucagon-alert {
  position: absolute;
  background-image: url('/img/alertIcon.svg');
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  top: 24px;
  background-size: 22px;
  left: 12px;
}
</style>
<div class='glucagonIcon icon'>
  <div class='glucagon-level'></div>
  <div class='glucagon-alert'></div>
</div>
