<% layout('layout') -%>

<% include topbar %>

<style>
  .content {
    padding: 15px 13px;
  }
  .image {
    position: relative;
    width: 289px;
    height: 427px;
    background: url('/img/history.svg');
    background-repeat: no-repeat;
  }</style>
<div class='content'>
  <div class='image'>
  </div>
</div>
