<% layout('layout') -%>
<style>
  .content {
    position: absolute;
    width: 348px;
    height: 564px;
    background: url('/img/homeMore.png');
    background-repeat: no-repeat;
    top: 0;
    left: 0px;
    background-size: 349px;
  }
  .main {
    background: white !important;
  }
  .backNav {
    width: 57px;
    height: 57px;
    position: absolute;
    top: 25px;
    left: 23px;
  }
  .rowNav {
    width: 348px;
    height: 47px;
    position: absolute;
    top: 157px;
    left: 0px;
  }
  .menuNav {
    width: 77px;
height: 83px;
position: absolute;
left: 10px;
top: 10px;
  }
  .statusNav {
    width: 245px;
height: 83px;
position: absolute;
left: 96px;
top: 10px;
  }
  .carbsNav {
    width: 267px;
height: 46px;
position: absolute;
left: 10px;
top: 468px;
  }
  .homeLessNav {
    width: 63px;
height: 46px;
position: absolute;
left: 277px;
top: 468px;
  }
  .gburstNav {
    width: 107px;
height: 46px;
position: absolute;
left: 9px;
top: 517px;
  }
  .adjustNav {
    width: 107px;
height: 46px;
position: absolute;
left: 118px;
top: 517px;
  }
  .bgNav {
    width: 111px;
height: 46px;
position: absolute;
left: 226px;
top: 517px;
  }
</style>
<div class='content'>
  <a href='/menu' class='menuNav'></a>
  <a href='/status' class='statusNav'></a>
  <a href='/carb' class='carbsNav'></a>
  <a href='/' class='homeLessNav'></a>
  <a href='/gburst' class='gburstNav'></a>
  <a href='/adjust' class='adjustNav'></a>
  <a href='/bg' class='bgNav'></a>
</div>
