<% layout('layout') -%>

<% include menubar %>

<link rel="stylesheet" href="/css/menulist.css">

<ul class='menu-list'>
  <li class='menu-list-serialnumber menu-list-big'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>serial number</div>
    <div class='menu-list-description'><span>248</span><span>562</span><span>348</span><span>762</span></div>
    <div class='clear'></div>
  </li>
  <li class='menu-list-support menu-list-big'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>support</div>
    <div class='menu-list-description'><span>(546)</span><span>348</span><span>762</span></div>
    <div class='clear'></div>
  </li>
  <li class='menu-list-softwareversion menu-list-big'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content menu-list-last'>software version</div>
    <div class='menu-list-description menu-list-last'>102.12</div>
    <div class='clear'></div>
  </li>
  <div class='menu-list-space'></div>
  <li class='menu-list-about'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>about</div>
  </li>
  <li class='menu-list-devicemanual'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content menu-list-last'>device manual</div>
  </li>
</ul>
