<style>
.infusionSetIcon {
  background-image: url('/img/setIcon.svg');
background-repeat: no-repeat;
width: 34px;
height: 53px;
position: relative;
background-position-x: 1px;
}
.infusionSet-level {
  position: absolute;
width: 13px;
/* height: 34px; */
/* background: black; */
left: 9px;
top: 7px;
border-radius: 3px;
font-size: 11px;
text-align: center;
}
.infusionSet-alert {
  position: absolute;
background-image: url('/img/alertIcon.svg');
background-repeat: no-repeat;
width: 34px;
height: 33px;
top: 4px;
display: none;
background-size: 23px;
left: 4px;
}
</style>
<div class='infusionSetIcon icon'>
  <div class='infusionSet-level'>1</div>
  <div class='infusionSet-alert'></div>
</div>
