<style>
.insulinIcon {
  background-image: url('/img/insulinIcon.svg');
  background-repeat: no-repeat;
  width: 33px;
  height: 53px;
  position: relative;
  background-position-x: 8px;
}
.insulin-level {
  position: absolute;
  width: 13px;
  height: 34px;
  background: white;
  left: 10px;
  top: 17px;
  border-radius: 0px;
}
.insulin-alert {
  position: absolute;
  background-image: url('/img/alertIcon.svg');
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  top: 24px;
  background-size: 22px;
  left: 12px;
}
</style>
<div class='insulinIcon icon'>
  <div class='insulin-level'></div>
  <div class='insulin-alert'></div>
</div>
