<% layout('layout') -%>

<% include topbar %>

<div class='content'>
  <a href='<%- circleButtonHref %>'><div class='circleButton'><div><%- circleButtonText%></div></div></a>
  <div class='circleInstructions'><%- circleInstructions%></div>
</div>
