<% layout('layout') -%>

<% include topbar %>

<style>
  .content {
    padding: 120px 88px;
  }
  .image {
    position: relative;
    width: 131px;
    height: 92px;
    background: url('/img/langs.png');
    background-repeat: no-repeat;
  }
</style>
<div class='content'>
  <div class='image'>
  </div>
</div>
