<!DOCTYPE html>
<html manifest="/assets/app.appcache">
  <head>
    <meta charset="utf-8">

    <title>Bionic Pancreas</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="/img/appIcon.png">


    <link rel="stylesheet" href="/css/layout.css">

    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/js/data/data.js"></script>
    <script src="/js/layout.js"></script>

  </head>
  <body>
    <div class="main">
    <%- body %>
    </div>
  </body>
</html>
