<% layout('layout') -%>

<% include menubar %>

<link rel="stylesheet" href="/css/menulist.css">

<ul class='menu-list'>
  <li class='menu-list-cgm'>
    <a href='/cgm/start'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>CGM</div>
    <div class='clear'></div>
    </a>
  </li>
  <li class='menu-list-infusionSite'>
    <a href='/infusionSite'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>fill infusion site</div>
    <div class='clear'></div>
    </a>
  </li>
  <li class='menu-list-insulin'>
    <a href='/insulin'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>load insulin</div>
    </a>
  </li>
  <li class='menu-list-glucagon'>
    <a href='/glucagon'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content  menu-list-last'>load glucagon</div>
  </a>
  </li>
  <div class='menu-list-space'></div>
  <li class='menu-list-alarms'>
    <a href='/alerts'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>alerts</div>
  </a>
  </li>
  <!--<li class='menu-list-weight'>
    <a href='/weight'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>weight</div>
  </a>
  </li>-->
  <li class='menu-list-settings'>
    <a href='/settings'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>system settings</div>
  </a>
  </li>
  <li class='menu-list-stats'>
    <a href='/stats'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>stats</div>
  </a>
  </li>
  <li class='menu-list-history'>
    <a href='/history'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>history</div>
  </a>
  </li>
  <li class='menu-list-info'>
    <a href='/info'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content  menu-list-last'>info</div>
    </a>
  </li>
</ul>
