<link rel="stylesheet" href="/css/menubar.css">
<link rel="stylesheet" href="/css/topbar.css">
<link rel="stylesheet" href="/css/topbar-icons.css">
<div class='menubar'>
  <a href='<%- backHref %>'><div class='menubar-back'></div></a>
  <div class='topbar-title menubar-title'><%- menubarTitle %></div>
</div>
