<% layout('layout') -%>

<% include topbar %>

<style>
  .content {
    padding: 93px 28px;
  }
  .image {
    position: relative;
    width: 250px;
    height: 97px;
    background: url('/img/phoneCode.png');
    background-repeat: no-repeat;
  }
</style>
<div class='content'>
  <a href='/phone/disconnect'><div class='image'>
  </div></a>
</div>
