<% layout('layout') -%>

<% include topbar %>

<style>
  .content {
    padding: 29px 43px;
  }
  .image {
    position: relative;
    width: 212px;
    height: 329px;
    background: url('/img/phoneDownload.png');
    background-repeat: no-repeat;
  }
</style>
<div class='content'>
  <a href='/phone/code'><div class='image'>
  </div></a>
</div>
