<% layout('layout') -%>

<% include menubar %>

<link rel="stylesheet" href="/css/menulist.css">

<ul class='menu-list'>
  <li class='menu-list-bgMeter'>
    <a href='/bgm'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>BG meter</div>
    <div class='clear'></div>
    </a>
  </li>
  <li class='menu-list-phone'>
    <a href='/phone'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content  menu-list-last'>phone</div>
    <div class='clear'></div>
    </a>
  </li>
  <div class='menu-list-space'></div>
  <li class='menu-list-display'>
    <a href='/display'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>display</div>
    </a>
  </li>
  <li class='menu-list-datetime'>
    <a href='/datetime'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>date & time</div>
  </a>
  </li>
  <li class='menu-list-language'>
    <a href='/language'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>language</div>
  </a>
  </li>
  <!--<li class='menu-list-units'>
    <a href='/units'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>units</div>
  </a>
</li>-->
  <li class='menu-list-childlock'>
    <a href='/childlock'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content menu-list-last'>child lock</div>
  </a>
  </li>
  <div class='menu-list-space'></div>
  <li class='menu-list-weight'>
    <a href='/weight'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>weight</div>
  </a>
  </li>
  <li class='menu-list-tubbinglength'>
    <a href='/tubbingLengths'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content'>tubing length</div>
    </a>
  </li>
  <li class='menu-list-length'>
    <a href='/cannula'>
    <div class='menu-list-icon'></div>
    <div class='menu-list-content  menu-list-last'>cannula length</div>
    </a>
  </li>
</ul>
