<link rel="stylesheet" href="/css/topbar.css">
<link rel="stylesheet" href="/css/topbar-icons.css">
<div class='topbar'>
  <a href='<%- backHref %>'><div class='topbar-backIcon back'></div></a>
  <div class='topbar-icon <%- topbarIconClass %>'></div>
  <div class='topbar-title'><%- topbarTitle %></div>
</div>
