<% layout('layout') -%>

<% include topbar %>

<style>
  .content {
    padding: 49px 28px;
  }
  .image {
    position: relative;
    width: 250px;
    height: 259px;
    background: url('/img/weightEntry.png');
    background-repeat: no-repeat;
  }
</style>
<div class='content'>
  <div class='image'></div>
</div>

<% include bottombar %>
